APP_NAME="Tiga Saudara ERP"
APP_ENV=local
APP_KEY=base64:2agneh3D9yRy3U4sD32j/aMuaVONDqSwcj8kyiDJa6E=
APP_DEBUG=false
APP_URL=http://localhost:8000

POS_CHECKOUT_SPLIT_POSTING_ENABLED=true

DEBUGBAR_ENABLED=true

LOG_CHANNEL=stack
LOG_LEVEL=debug

SCOUT_DRIVER=algolia

ALGOLIA_APP_ID=JEMA49JGW8
ALGOLIA_SECRET=6ac4dffff751e315192c393da50cb97e
ALGOLIA_SEARCH_KEY=168d3774b43fbf711737443d4801fbb3

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tiga_saudara
DB_USERNAME=root
DB_PASSWORD=

SEQUENCE_PURCHASE_ENABLED=true
SEQUENCE_SALE_ENABLED=true

CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
SCOUT_QUEUE=true
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_CLIENT=predis

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=email@email.com
MAIL_FROM_NAME="${APP_NAME}"

BROADCAST_DRIVER=pusher

PUSHER_APP_ID=local-app
PUSHER_APP_KEY=local-key
PUSHER_APP_SECRET=local-secret
PUSHER_HOST=localhost
PUSHER_PORT=6001
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
AUDITING_ENABLED=true
